
/* Estilo para telas menores */
@media (max-width: 768px) {
    header{
        position: fixed;
        width: 100%;
    }
    nav{
        height: 80px;
        position: sticky;
    }
    .home-container {
        margin: 0;
    }
    /* Estilo base */
    nav ul {
        list-style: none;
        display: flex;
        gap: 1rem;
        padding: 0;
        margin: 0;
    }
    
    /* Oculta botão em telas grandes */
    #menu-toggle {
        display: none;
        font-size: 2rem;
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;
    }
    nav {
        position: relative;
    }

    #menu-toggle {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 999;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #fff;
        width: 100%;
        padding: 1rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 998;
    }

    nav ul.show {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
    }

    nav ul li a {
        padding: 0.5rem 0;
        text-decoration: none;
        color: #000;
    }

    #sobre img{
        width: 100%;
    }
}

/* TELAS MAIORES (NOTEBOOK, DESKTOP) */
@media (min-width: 769px) and (max-width: 1024px) {
    #sobre{
        flex-direction: column;
    }
    .home-container {
        padding: 1.5rem;
    }

    .texto-imagem-principal h1 {
        font-size: 2.25rem;
    }

    .container-servicos {
        grid-template-columns: repeat(2, 1fr);
    }

    nav ul {
        justify-content: center;
    }
}
